body{
    font-size: 100%;
    min-width: 352px;
    margin: 0;
    padding: 0;
    border: 0;
}

#welcomePage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 352px;
    height: 100vh;
}
#answerPage{
    display: none;
    flex-direction: column;
    align-items: center;
    min-width: 352px;
    height: 100vh;
}
#resultPage{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    min-width: 352px;
    height: 100vh;
}

.container__header{
    order: 0;
    display: flex;
    flex-direction: row;
    min-height: 64px;
    width: 100%;
}
.container__header2{
    order: 0;
    display: flex;
    flex-direction: row;
    min-height: 64px;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background:#0a66c2;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    z-index: 100;
    top: 0;
    position: fixed;
}
.container__main{
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__footer{
    order: 2;
    display: flex;
    flex-direction: row;
    min-height: 72px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content__header{
    margin: 32px 0 0 56px;
    color: #0a66c2;
    font-size: 1.8rem;
    font-weight: 400;
}
.content__header2{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}
.content__footer{
    line-height: 1;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    background-color: transparent;
    border: 0;
}
.content__footer:hover{
    text-decoration: underline;
}

.container__cardView{
    order: 0;
    width: 352px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 24px;
    margin: auto;
}
.cardView__heading{
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    padding: 0 0 4px 0;
    margin: 0;
}
.cardView__subheading{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0,0,0,0.9);
    margin: 0;
}
.cardView__subheading2{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    margin: 0;
}
.cardView__introduction{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    margin: 0;
    margin-top: 16px;
}
.cardView__introduction2{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    margin: 0;
    margin-top: 16px;
}
.cardView__btn__learnmore{
    position: relative;
    left: -8px;
    margin-top: 8px;
    background-color: rgba(0,0,0,0);
    border: 0;
    box-sizing: border-box;
    padding: 0 8px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    color: #0a66c2;
    border-radius: 28px;
}
.cardView__btn__learnmore:hover{
    background: #d0e8ff;
    text-decoration: underline;
}
.cardView__container__btn_main{
    padding-top: 24px;
}
.cardView__content__btn_main{
    height: 52px;
    line-height: 52px;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background: #0a66c2;
    align-content: center;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    vertical-align: middle;
    border-radius: 28px;
}
.cardView__content__btn_main:hover{
    background:#004182;
}

.container__questions{
    margin-top: 64px;
    padding: 16px;
}
.container__answers{
    
    padding:8px 0px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000;
}
.container__answers label{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
}
.container__radio{
    line-height: 36px;
    display: inline-block;
    color: #777;
    vertical-align: middle;
}
.radio{
    width: 20px;
    height:20px;
    appearance: none;
    position: relative;
    margin: 0px 8px 0px 0px;
    vertical-align: middle;
}
.radio::before{
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0,0,0,.54);
    display: inline-block;
    border-radius: 16px;
    vertical-align: middle;
}
.radio:checked::before{
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid #0a66c2;
    display: inline-block;
    border-radius: 16px;
    vertical-align: middle;
}
.radio:checked::after{
    content: '';
    width: 12px;
    height: 12px;
    text-align: center;
    background:#0a66c2;
    border-radius: 12px;
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
}

.container__btn_result{
    padding: 16px 0px;
}
.btn_result{
    height: 52px;
    line-height: 52px;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background: #0a66c2;
    align-content: center;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    vertical-align: middle;
    border-radius: 28px;
}
.btn_result:hover{
    background:#004182;
}
.container__result{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    margin: 0;
    margin-top: 16px;
}
.btn__analysis{
    position: relative;
    left: -8px;
    margin-top: 8px;
    background-color: rgba(0,0,0,0);
    border: 0;
    box-sizing: border-box;
    padding: 0 8px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    color: #0a66c2;
    border-radius: 28px;
}
.btn__analysis:hover{
    background: #d0e8ff;
    text-decoration: underline;
}
.container__resultpage{
    display: flex;
    flex-direction: column;
}
.container__btn_back{
    order: 2;
    display: flex;
    flex-direction: row;
    min-height: 72px;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.btn_backtext{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    text-align: center;
}
.btn_back{
    position: relative;
    background-color: rgba(0,0,0,0);
    border: 0;
    box-sizing: border-box;
    padding: 0 8px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    color: #0a66c2;
    border-radius: 28px;
}
.btn_back:hover{
    background: #d0e8ff;
    text-decoration: underline;
}

@media only screen and (max-width: 769px){
    .container__cardView{
        width: 100%;
        min-width: 352px;
        max-width: 416px;
        box-sizing: border-box;
        box-shadow: unset;
        padding: 0 32px;
    }
}