body{
    font-size: 100%;
    min-width: 352px;
    margin: 0;
    padding: 0;
    border: 0;
}

#welcomePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 352px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}
.headerView{
    order: 0;
    display: block;
    min-height: 65px;
}
.container__wpheader{
    margin: 32px 0 0 56px;
    color: #0a66c2;
    font-size: 1.8rem;
}
.cardView{
    order: 1;
    width: 352px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    border-radius: 8px;
    padding: 24px;
    margin: auto;
    top: 32px;
    bottom: 32px;
    left: 0;
    right: 0;
}
@media only screen and (max-width: 769px){
    .cardView{
        width: 100%;
        min-width: 352px;
        max-width: 416px;
        box-sizing: border-box;
        box-shadow: unset;
        padding: 0 32px;
    }
}
.wp__heading{
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    padding: 0 0 4px 0;
    margin: 0;
}
.wp__subheading{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0,0,0,0.9);
    margin: 0;
}
.wp__introduction{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    margin: 0;
    margin-top: 16px;
}
.btn__learnmore{
    position: relative;
    left: -8px;
    margin-top: 8px;
    background-color: rgba(0,0,0,0);
    border: 0;
    box-sizing: border-box;
    padding: 0 8px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    color: #0a66c2;
    border-radius: 28px;
}
.btn__learnmore:hover{
    background: #d0e8ff;
    text-decoration: underline;
}
.container__btn_start{
    padding-top: 24px;
}
.btn_start{
    height: 52px;
    line-height: 52px;
    width: 100%;
    border: 0;
    box-sizing: border-box;

    font-size: 1rem;
    font-weight: 600;
    
    color: #ffffff;
    background: #0a66c2;
    align-content: center;

    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    vertical-align: middle;
    border-radius: 28px;
}
.btn_start:hover{
    background:#004182;
}
.footerView{
    order: 2;
    display: flex;
    min-height: 72px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn__github{
    line-height: 1;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    text-decoration: none;
    background-color: transparent;
    border: 0;
}
.btn__github:hover{
    text-decoration: underline;
}


#answerPage{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 352px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}
.container__header{
    left: 0;
    top: 0;
    right: 0;
    height: 64px;
    line-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    background:#0a66c2;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    width: 100%;
    z-index: 100;
}
.container__header>*{
    margin: 0px;
}
.ap__heading{
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}
.container__questions{
    margin-top: 64px;
    padding: 16px;
}
.container__answers{
    
    padding:8px 0px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #000000;
}
.container__answers label{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0,0,0,0.8);
}
.container__radio{
    line-height: 36px;
    display: inline-block;
    color: #777;
    vertical-align: middle;
}
.radio{
    width: 20px;
    height:20px;
    appearance: none;
    position: relative;
    margin: 0px 8px 0px 0px;
    vertical-align: middle;
}
.radio::before{
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0,0,0,.54);
    display: inline-block;
    border-radius: 16px;
    vertical-align: middle;
}
.radio:checked::before{
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid #0a66c2;
    display: inline-block;
    border-radius: 16px;
    vertical-align: middle;
}
.radio:checked::after{
    content: '';
    width: 12px;
    height: 12px;
    text-align: center;
    background:#0a66c2;
    border-radius: 12px;
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
}
.container__btn_result{
    padding: 16px 0px;
}
.btn_result{
    height: 52px;
    line-height: 52px;
    width: 100%;
    border: 0;
    box-sizing: border-box;

    font-size: 1rem;
    font-weight: 600;
    
    color: #ffffff;
    background: #0a66c2;
    align-content: center;

    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    vertical-align: middle;
    border-radius: 28px;
}
.btn_result:hover{
    background:#004182;
}

#resultPage{
    display: none;
    flex-direction: column;
    justify-content: center;
    min-width: 352px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}
.rp__resultgroup{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    margin: 0;
    margin-top: 16px;
}
.btn__analysis{
    position: relative;
    left: -8px;
    margin-top: 8px;
    background-color: rgba(0,0,0,0);
    border: 0;
    box-sizing: border-box;
    padding: 0 8px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 167ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    vertical-align: middle;
    z-index: 0;
    color: #0a66c2;
    border-radius: 28px;
}
.btn__analysis:hover{
    background: #d0e8ff;
    text-decoration: underline;
}
.rp__subheading{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    margin: 0;
}
.rp__introduction{
    line-height: 1.33333;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    margin: 0;
    margin-top: 16px;
}